nav{
    display:flex;
    justify-content: space-between;
    margin:40px 120px;
}

.header{
    background-image: url("images/header_bg.png"), url("developer.png");
    background-repeat: no-repeat;
    background-position: right bottom,left;
}
a{  
    text-decoration: none;
}

.btn:hover{
    background-color: blue;
}
.b1:hover{
    background-color: green;
}
.b1{
    height: 50px;
    background-color: orangered;
    color:white;
    border:0px;
    border-radius: 5px;
    font-size: 20px;
    padding:15px 30px;
    font-weight: 700;
   
}
.b2{
    height: 50px;
    background-color: white;
    color:orange;
    border:2px solid orange;
    border-radius: 5px;
    font-size: 20px;
    padding:15px 30px;
    font-weight: 700;

}

ul{
    display:flex;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 40px;
}
.d1{
    margin:120px;
}
.p1{
    font-size: 40px;
    color: gray;
    margin:0px;
}
.p2{
    font-size: 60px;
    font-weight: 700;
}
.p3{
    font-size: 20px;
    color:rgb(116, 189, 116)
}
.d2{
    display:flex;
    margin:20px 40px;
}
.s1{
    float:left;
    align-items: center;
}
.p4{
    margin-left: 20px;
  
}
.div{
    margin: 50px;
}
.nav{
    margin-left:160px;
}
.h1{
    font-weight: 700;
    font-size: 40px;
}
.span{
    color:orange;
}
.s{
    background-color: blanchedalmond;
   
    margin:70px 120px;
    height: 500px;
    padding:20px;
    text-align: center;
}
.head{
    font-weight: 700;
    font-size: 40px;
}
.skill{
    color:gray;
    font-size: 20px;
}
.about-me-content{
    display:flex;
    justify-content: space-around;
}
.drive{
    padding: 50px;
}
.skills-name{
    display:flex;
    margin-top: 70px;
 
}
main{
    margin:0px 120px
  }
   .name{
    text-align: center;
  
    font-size: 20px;
  
   }
.skill-item{
    padding:15px;
    box-shadow: 5px 10px gainsboro; 

}
.abc{
    font-weight: 900;
    font-size: 40px;
}
.skill-name{
    font-weight:700;
    font-size:20px;
   
}
.skill-description{
    color:gray;
}
.para{
    color:gray;
}
.resume{
    display:flex;
    gap:50px;
    color:gray;
    font-size: 20px;
}
.details{

font-weight: 700;
font-size: 40px;
text-align: center;
margin-bottom: 50px;

}

.details-resume{
    margin-top: 90px;
   
}
.last-content{
    display:flex;
    gap:300px;
  margin:120px;
  background-color:rgb(240, 230, 216);
  padding:40px;
}
.center{
    color:gray;
}
.footer-content{
margin-top:20px;
border-radius: 3px;
width: 80%;
height: 30px;
border:none;

}
.footer{
    margin-top:20px;
    border-radius: 3px;
    width: 80%;
    border:none;
    margin-bottom: 30px;
    
    
    }
.picture{
margin-top: 20px;
padding:10px;

}
